/*-------------
Fonts
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;0,700;0,800;1,900&display=swap');

/*-------------
Global css
-------------*/
:root{
	--main-color: #EDF2F7;
	--main-color2:#1A202C;
	--bg-dark: #C5E8FF;
	--shadow-black-100:0 5px 15px rgba(0,0,0,0.1);
	--shadow-black-300:0 5px 15px rgba(0,0,0,0.3);
	--black-900: #252a2f;
	--black-alpha-100: rgba(0,0,0,0.05);
	--black-400: #555555;
	--black-100: #f7f7f7;

	/*own color*/
	--slash-color-main :#3182CE;
	--slash-color-dark :#354159;

	/*btn*/
	--btn-bg-main:#3182CE;
	--btn-bg-dark:#90CDF4;

	--btn-disabled-main:#A2C6E7;
	--btn-disabled-dark:#49657C;

	--form-control:#585f66;
	--non-covid-box:#f7fafc;
	--disable-color:#aaafaf;
	--border-form: 1px solid #ced4da;
}

/*-- bootstrap modification color --*/
.form-control {
	background-color: var(--main-color);
	color:var(--form-control);
	border: var(--border-form);
}
.btn-primary {
    color: var(--main-color);
    background-color: var(--btn-bg-main);
    border-color: var(--btn-bg-main);
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: var(--btn-disabled-main);
    border-color: var(--btn-disabled-main);
}
label.form-check-label {
    color: var(--black-900);
}
#lokasi{
	color: var(--btn-bg-main);
	border-color: var(--btn-bg-main);
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff17;
    border-color: #007bff;
}
.btn-primary:hover{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.form-control:disabled, .form-control[readonly] {
    background-color: var(--main-color);
    opacity: 1;
	color: var(--disable-color);
}
.dropdown-item.active {
    background-color:var(--main-color);
}
/*-------------------------------------------*/
body.dark{
	--main-color:var(--main-color2);
	--black-100: var(--bg-dark);
	--black-000: #282829;
	--black-400: #d2d2d6;
	--main-to-dark-color:var(--bg-dark);
	--dark-to-main-color:var(--main-color);
	--shadow-black-100:var(--shadow-black-300);
	--black-alpha-100: rgba(255,255,255,0.05);
	--black-900: black;
	--black-100: var(--bg-dark);


	/*own color*/
	--slash-color-main:var(--slash-color-dark);
	--btn-bg-main:var(--btn-bg-dark);
	--btn-disabled-main:var(--btn-disabled-dark);
	--form-control:#939597;
	--non-covid-box:#2D3748;
	--disable-color:#4c4d4d;
	--border-form: 1px solid #ced4da40;
}
h1, h2, h3, h4, h5, p, label{
	color: var(--black-900);
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	overflow-x: hidden;
	background-color: var(--black-000); 

}
*{
	margin:0;
	padding: 0;
	outline: none!important;
}

@keyframes zoomInOut_01{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}

}
select.form-control.not-allowed {
    cursor: not-allowed;
}
span.cari{
	cursor: not-allowed;
}
.hospital-box.pt-4{
    padding : 20px 30px;
    border-radius: 5px;
    box-shadow: var(--shadow-black-100);
    margin-bottom: 10px;
}
.host-status {
	box-shadow: rgb(204 219 232) 1px 1px 6px 1px inset, rgb(255 255 255 / 50%) -1px -1px 6px 0px inset;
	border-radius: 5px;
}

span.address{
    font-size: 0.8em;
}

section{

}

/* -----Loader-------- */
.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: loader 0.6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  .loader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  }   
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 2100;
	background-color: var(--main-to-dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.preloader span{
	display: block;
	height: 60px;
	width: 60px;
	background-color: var(--dark-to-main-color);
	border-radius: 50%;
	animation: zoomInOut_01 1s ease infinite;
}


/*----------------- Toggle theme -----------------*/
.toggle-theme{
	position: fixed;
	right: 0;
	top: calc(95.5% - 20px);
	height: 30px;
	width: 30px;
	background-color: var(--dark-to-main-color);
	z-index: 1200;
	color: var(--black-900);
	cursor: pointer;
	border-radius: 50%;
	box-shadow: var(--shadow-black-300);
	font-size: 16px;
	text-align: center;
	margin-right: 3%;
}
.toggle-theme i{
	line-height: 30px;
} 
